# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\nix-5-online-proj\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
